# Compiled Python files
__pycache__/
*.pyc

# Compiled Cython files
*.pyd
*.dll
*.cpp

# Sphinx output directory
docs/_build/

# Distribution packages
dist/
build/
*.egg-info/

# Miscellaneous
*.swp
.DS_Store